.line {
    border: none;
    border-top: solid 20px;
    width: 70px;
    height: 7px;
    margin: 0;
    
}
button {
    display: flex;
    flex-direction: row;
}
.buttonGradient{
    height: 54px;
    width: 100%;
    padding: 0;
}

.line-title{
    margin: 0;
}

.basic{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.basic-titles{
    display: flex;
    flex-direction: column;
}

.basic-container{
    display: flex;
    flex-direction: row;
}
.cloropeth-container, .gradient-container{
    display: flex;
    flex-direction: column
}

.cloropeth-titles-container, .gradient-titles-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.basic-titles-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
        margin: 5px 0 0 20px;
    }
}

.basic-buttons-container{
    button{
        margin-top: 7px;
    }
}

.animated-text{
    // opacity: 1;
    // animation: fade 2s linear;
//     transition: width 2s;
//     transition-timing-function: ease-in-out;
}