ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
}

li {
	width: 16px;
	height: 16ox;
	margin-left: 8px;
}

.rotate-up-right-down img{
	transform-origin: 100% 50%;
	transition: transform .5s linear;
}
.rotate-down-right-up img{
	transform: rotate(-180deg);
	transform-origin: 100% 50%;
	transition: transform .5s linear;
}