*{
  box-sizing: border-box;
}
.App {
  background-color:#3A3A3A;
  padding: 2px;
  height: 100vh;
  overflow: hidden;
  *:focus{
    outline: none; //Shame on me
  }
  a {
    cursor: pointer;
    color: blue;
  }
  @media (min-width: 494px) {
    padding: 50px;
  }
}
